@{
    ViewBag.Title = "Time Logs";
    Layout = "/Views/Shared/Master.cshtml";
}

@section scripts {
    <script src="~/DX/js/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="~/app/time_logs/time_logs.list.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            TimeLogModule.Init("@User.IsInRole("employee")" == "True");
        });
    </script>
}

<div style="margin-left:10px; margin-right:10px;">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">        
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-subheader__title m-subheader__title--separator">Time Log Entries</h5>
                        </div>
                        <div class="card-body">
                            <div id="time_logs">
                            </div>
                            <hr>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>